

.fira-sans-thin {
   font-family: "Fira Sans", serif;
   font-weight: 100;
   font-style: normal;
 }
 
 .fira-sans-extralight {
   font-family: "Fira Sans", serif;
   font-weight: 200;
   font-style: normal;
   background: #F1F1F3;
 }
.navv{
   display: flex;
   justify-content:space-between;
   margin: 24px 73px 24px 73px;
   
}
.nav-title{
   color:#0E0E0E;
   padding: 10px;
}
.btn-primany{
   color: #006A50;
   border-radius: 8px;
   border: 2px solid #006A50;
   padding: 10px 20px; 
}
.btn-primany:hover{
   background: rgb(62, 240, 231);
   color: #ffffff;
   border: 2px solid #030303;

}
.ull{
   list-style: none;
}
.control{
   background: #C6E4D6;
   display: flex;
   width: 1120px;
   height: 560px;
   border-radius: 24px;
   margin: 0 70px;
}
.heading-title{
   width: 622px; ;
   height: 326px;
   margin-top: 70px;
   margin-left: 50px;
}
.bangla{
   color: #0E0E0E50;
   font-weight:500;
   font-size:24px ;
}
.titlee{
   color: #0E0E0E;
   font-weight: bold;
   font-size: 56px;
   width:549px ;
   height:170px ;
}
.firstbutton{
   width: 240px;
   height: 56px;
   background: #006A50;
   border-radius: 8px;
   font-weight: 600;
   font-size: 18px;
   border: none;
   color: #ffffff;
}
.firstbutton:hover{
   background: hotpink;
   color: #0E0E0E;
}
.b2photo{
   width: 380px;
   height: 300px;
   padding: 80px 0px;
   margin-top: 70px;
     
}
.vision-control{
   width: 1120px;
   margin-left: 75px;
}
.vision1{
   font-weight:bold ;
   font-size:40px;
}
.vision2{
   color: #0E0E0E70;
   font-size:16px;
   
}
.father-of-card{
   display: flex;

}
/* card01 */
.card1{
   background: #5490F520;
   width: 320px;
   height: 300px;
   margin-left: 70px;
   border-radius: 16px;
   padding: 30px 20px 20px 20px;
}
.card1photo{
   width: 64px;
   height: 64px;
}
.card1title{
   font-weight: bold;
   font-size: 20px;
   color: #0e0e0e80;
}
.card1para{
   font-size: 16px;
   color: #0E0E0E70;
}
.card1button{
   background: #5490F5;
   border-radius: 8px;
   font-weight: 600;
   font-size: 16px;
   color: #ffffff;
   width: 122px;
   height: 41px;
   border: none;
}
.card1button:hover{
   background:hotpink;
   color: black;
   
}
/* card02 */
.card2{
   background: #C6E4D6;
   width: 320px;
   height: 300px;
   margin-left:30px;
   border-radius: 16px;
   padding: 30px 20px 20px 20px;
}
.card2photo{
   width: 64px;
   height: 64px;
}
.card2title{
   font-weight: bold;
   font-size: 20px;
   color: #0e0e0e80;
}
.card2para{
   font-size: 16px;
   color: #0E0E0E70;
}
.card2button{
   background: #09A15C;
   border-radius: 8px;
   font-weight: 600;
   font-size: 16px;
   color: #ffffff;
   width: 122px;
   height: 41px;
   border: none;
}
.card2button:hover{
   background:rgb(247, 247, 100);
   color: black;
}
/* card03 */
.card3{
   background: #F7EBCF;
   width: 320px;
   height: 300px;
   margin-left:30px;
   border-radius: 16px;
   padding: 30px 20px 20px 20px;
}
.card3photo{
   width: 64px;
   height: 64px;
}
.card3title{
   font-weight: bold;
   font-size: 20px;
   color: #0e0e0e80;
}
.card3para{
   font-size: 16px;
   color: #0E0E0E70;
}
.card3button{
   background: #09A15C;
   border-radius: 8px;
   font-weight: 600;
   font-size: 16px;
   color: #ffffff;
   width: 122px;
   height: 41px;
   border: none;
}
.card3button:hover{
   background:rgb(142, 217, 243);
   color: black;
}
/* resent news */
.father-of-news{
   width: 1120px;
   margin-left: 75px;
}
.newstitle{
   font-weight: bold;
   font-size: 40px;
   color: #0E0E0E;
}
.news-sub-title{
   
   font-size: 16px;
   color: #0E0E0E70;
}
/* news 01 main task */
.news1{
   background:#ffffff;
   width: 1140px;
   height: 360px;
   border-radius: 24px;
   display: flex;
}
.news1flex{
   width: 744px;
   height: 229px;



}
.news1photo1{
   width: 378px;
   height: 276px;
   border-radius: 24px;
   margin: 40px;
}
.news1title{
   font-weight: bold;
   color: #0e0e0e80;
   font-size: 30px;
   margin-bottom:10px;
}
.news1photo2{
   width: 125px;
   height: 35px;
   margin-bottom:10px;

}
.new1date{
   color: #0E0E0E70;

}
.new1time{
   padding-left:20px;
}
.news1para{
   color: #0e0e0e70;
   font-size: 16px;
}
.news1button{
   background: #006A50;
   border-radius:8px;
   color:#ffffff ;
   font-size: 18px;
   font-weight: 600;
   border: none;
   width: 139px;
   height: 50px;
}
.news1button:hover{
   background: rgb(114, 90, 248);
   color: #0E0E0E;
}

/* news 02 main task */
.news2{
   background:#ffffff;
   width: 1140px;
   height: 360px;
   margin-left:70px;
   margin-top: 30px;
   border-radius: 24px;
   display: flex;

}
.news2flex{
   width: 744px;
   height: 290px;
   margin-left: 20px;
}
.news2photo1{
   width: 378px;
   height: 276px;
   border-radius: 24px;
   margin: 40px;
}
.news2title{
   font-weight: bold;
   color: #0e0e0e80;
   font-size: 30px;
   margin-bottom:10px;
}
.news2photo2{
   width: 125px;
   height: 35px;
   margin-bottom:10px;

}
.new2date{
   color: #0E0E0E70;

}
.new2time{
   padding-left:20px;
}
.news2para{
   color: #0e0e0e70;
   font-size: 16px;
}
.news2button{
   background: #006A50;
   border-radius:8px;
   color:#ffffff ;
   font-size: 18px;
   font-weight: 600;
   border: none;
   width: 139px;
   height: 50px;
}
.news2button:hover{
   background: rgb(229, 76, 88);
   color: #0E0E0E;
}
/* news3 */
.news3{
   background:#ffffff;
   width: 1140px;
   height: 360px;
   margin-left:70px;
   margin-top: 30px;
   border-radius: 24px;
   display: flex;

}
.news3flex{
   width: 744px;
   height: 290px;
   margin-left: 20px;
}
.news3photo1{
   width: 378px;
   height: 276px;
   border-radius: 24px;
   margin: 40px;
}
.news3title{
   font-weight: bold;
   color: #0e0e0e80;
   font-size: 30px;
   margin-bottom:10px;
}
.news3photo2{
   width: 125px;
   height: 35px;
   margin-bottom:10px;

}
.new3date{
   color: #0E0E0E70;

}
.new3time{
   padding-left:20px;
}
.news3para{
   color: #0e0e0e70;
   font-size: 16px;
}
.news3button{
   background: #006A50;
   border-radius:8px;
   color:#ffffff ;
   font-size: 18px;
   font-weight: 600;
   border: none;
   width: 139px;
   height: 50px;
}
.news3button:hover{
   background: rgb(68, 105, 227);
   color: #0E0E0E;
}